## Python Import

In order to take advantage of other libraries, you'll need to *import* them to python.

Import means "Hey! Go grab this code from another place and bring it in my program so we can use it"

Let's look at an example with the data analysis library, [Pandas](https://dataindependent.com/pandas/).

In [1]:
pandas.DataFrame(index=[1,2,3], data=[[1,2], [2,3], [3,4]], columns=['col1', 'col2'])

NameError: name 'pandas' is not defined

Oh no! Pandas isn't defined. This means that python doesn't know what the word 'pandas' is. We need to import the pandas library in order to use it

In [2]:
import pandas

In [3]:
pandas.DataFrame(index=[1,2,3], data=[[1,2], [2,3], [3,4]], columns=['col1', 'col2'])

   col1  col2
1     1     2
2     2     3
3     3     4

nice, we can use it finally. But typing out 'pandas' each time is a little long. I'm going to add an abbreviation to call pandas 'pd' for short via the *as* keyword. Then I can use pd. instead of pandas.

In [5]:
import pandas as pd

In [6]:
pandas.DataFrame(index=['Bob','Sally', 'Ted'], data=[[10,22], [23,35], [31,46]], columns=['Col_1', 'Col_2'])

       Col_1  Col_2
Bob       10     22
Sally     23     35
Ted       31     46